.notifications {
  height: flex;
  padding: 20px;
  background: #edf2f7;
  border-radius: 10px;
  box-shadow: 0px 14
  +px 16px rgba(0, 225, 255, 0.1);
}

.notifications h1 {
  font-size: 22px;
  color: rgb(2, 194, 178);

}

.notifications ul {
  list-style-type: none;
  padding: 0;
}

.notifications li {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.notifications ul li{
  color: black;
}

.notifications li:hover{
  color: #edf2f7;
  cursor: auto;
}