@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "montserrat";
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #2f2d2d;
  color: rgb(238, 135, 135);
  padding: 10px;
  padding-left: 100px;
  text-align: center;
  width: flex;
}

.main-content {
  display: flex;
  flex: 1;
  color: aliceblue;
}

aside {
  background-color: #2f2d2d;
  width: 200px;
  padding: 10px;
}

.page-content {
  flex: 1;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #346f6d;
}
